<p>event-create works!</p>
<form [formGroup]="range" (ngSubmit)="OnSub()">
  <input matInput type="text" formControlName="titre" placeholder="titre" />
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        formControlName="date_debut"
        placeholder="Start date"
      />
      <input matEndDate formControlName="date_fin" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <button type="submit"></button>
  </mat-form-field>
  <p>Selected range: {{ range.value | json }}</p>
</form>
